/**
 * ---------------------------------------------------------------------------
 * {{ resource.name.pascal.o }} Backend Barrel
 * ---------------------------------------------------------------------------
 */

export * from './entities';
export * from './use-cases';
export * from './{{ resource.name.kebab.o }}.generated-controller';
export * from './{{ resource.name.kebab.o }}.generated-module';
export * from './{{ resource.name.kebab.o }}.generated-service';
