/**
 * ---------------------------------------------------------------------------
 * {{ resource.name.pascal.o }} Entity Barrel
 * ---------------------------------------------------------------------------
 */
{% for item in resource.entities %}
export * from './{{ item.meta.file_name }}';
{% endfor %}
