/**
 * ---------------------------------------------------------------------------
 * {{ resource.name.pascal.o }} Enum Barrel
 * ---------------------------------------------------------------------------
 */
{% for enum in resource.enums %}
export * from './{{ enum.name.kebab.o }}';
{% endfor %}
